<%- include('../partials/header') %>


  <style>
    .property-list {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .property-item {
      text-align: center;
    }

    .property-item img {
      width: 100%;
      max-width: 300px;

      height: auto;
      border-radius: 5px;

      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .property-item img:hover {
      transform: scale(1.05);

    }

    .property-item a {
      display: block;

      text-decoration: none;
      color: #333;

      margin-top: 10px;

    }
  </style>

  <ul class="property-list">
    <% properties.forEach(function(property){ %>
      <li class="property-item">
        <a href="/properties/<%= property._id %>">
          <img src="<%= property.imageUrl %>" alt="Property Picture">
        </a>
        <a href="/properties/<%= property._id %>">
          <%= property.address %>, <%= property.suburb.name %>

              <br>
              <small>Rooms: <%= property.rooms %>, Bathrooms: <%= property.bathrooms %></small>
        </a>

      </li>
      <% }); %>
  </ul>

  <%- include('../partials/footer') %>