<%- include('../partials/header') %>

  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .property-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
      list-style: none;
    }

    .property-item {
      overflow: hidden;
      text-align: center;
      transition: box-shadow 0.3s ease;
    }

    .property-item:hover {
      transform: scale(1.05);
    }

    .property-item img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ccc;
    }

    .property-item a {
      display: block;
      padding: 10px;
      color: #333;
      text-decoration: none;
    }

    .property-details {
      font-size: 0.9em;
      color: #666;
    }
  </style>

  <main>
    <ul class="property-list">
      <% properties.forEach(function(property) { %>
        <li class="property-item">
          <a href="/properties/<%= property._id %>">
            <img src="<%= property.imageUrl %>" alt="Property Picture">
            <div>
              <%= property.address %>, <%= property.suburb.name %>
            </div>
            <div class="property-details">Rooms: <%= property.rooms %>, Bathrooms: <%= property.bathrooms %>
            </div>
          </a>
        </li>
        <% }); %>
    </ul>
  </main>

  <%- include('../partials/footer') %>