<%- include('../partials/header') %>

    <style>
        /* Style adjustments for smaller devices */
        @media (max-width: 768px) {
            form {
                grid-template-columns: 1fr;
                /* Stack inputs on smaller screens */
            }
        }

        section {
            grid-column: 1 / -1;
            /* Span across all available columns */
            text-align: center;
            /* Center the button container */
        }

        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #ccc;
            /* overflow-y: hidden; */
        }

        form {
            display: grid;
            grid-gap: 10px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            /* padding: 10px; */
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            width: auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.2s;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>

    <body>
        <main>
            <h2>Add New Property</h2>
            <form id="new-form" action="/properties" method="POST">
                <div>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required>
                </div>
                <div>
                    <label for="rooms">Rooms:</label>
                    <input type="number" id="rooms" name="rooms" required>
                </div>
                <div>
                    <label for="bathrooms">Bathrooms:</label>
                    <input type="number" id="bathrooms" name="bathrooms" required>
                </div>
                <div>
                    <label for="imageUrl">Image URL:</label>
                    <input type="text" id="imageUrl" name="imageUrl" required>
                </div>
                <div>
                    <label for="owner">Owner: <br><br>
                        <%= user.name %>
                    </label>
                    <input type="hidden" id="owner" name="owner" value="<%= ownerId %>">
                </div>
                <div>
                    <label for="suburb">Suburb:</label>
                    <select id="suburb" name="suburb" required>
                        <% suburbs.forEach(function(suburb) { %>
                            <option value="<%= suburb._id %>">
                                <%= suburb.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <section>
                    <button type="submit">Add Property</button>
                </section>

            </form>
        </main>

        <%- include('../partials/footer') %>
    </body>