<%- include('../partials/header') %>

<main>
  <div>
    <% if (user.avatar) { %>
    <img src="<%= user.avatar %>" alt="User avatar" class="avatar" />
    <% } else { %>
    <img
      src="/path/to/default/avatar.png"
      alt="Default avatar"
      class="avatar"
    />
    <% } %>
    <h2><%= user.name %></h2>
    <% if (user.email) { %>
    <p>Email: <%= user.email %></p>
    <% } %>
  </div>

  <section>
    <h3>Properties</h3>
    <% if (user.properties.length > 0) { %>
    <ul class="property-list">
      <% user.properties.forEach(function(property) { %>
      <li class="property-item">
        Property ID: <%= property %>
        <a href="/properties/<%= property %>">View</a>

        <!-- Show update and delete buttons if the current user is the property owner -->
        <% if (currentUser && currentUser._id.toString() ===
        property.user.toString()) { %>
        <form action="/properties/<%= property._id %>/edit" method="get">
          <button type="submit">Update</button>
        </form>
        <form
          action="/properties/<%= property._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No properties listed.</p>
    <% } %>
  </section>

  <%- include('../partials/footer') %>
</main>
