<%- include('../partials/header') %>

<main>
  <div>
    <% if (user.avatar) { %>
    <img src="<%= user.avatar %>" alt="User avatar" class="avatar" />
    <% } else { %>
    <img
      src="/path/to/default/avatar.png"
      alt="Default avatar"
      class="avatar"
    />
    <% } %>
    <h2><%= user.name %></h2>
    <% if (user.email) { %>
    <p>Email: <%= user.email %></p>
    <% } %>
  </div>

  <section>
    <h3>Properties</h3>
    <% if (user.properties.length > 0) { %>
    <ul class="property-list">
      <% user.properties.forEach(function(property) { %>
      <li class="property-item">
        Property ID: <%= property %>
        <!-- Display more property details if needed -->
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No properties listed.</p>
    <% } %>
  </section>

  <%- include('../partials/footer') %>
</main>
